div.swiper-button-prev:after {
  color: #f9a392;
}

div.swiper-button-prev:hover::after {
  color: #f74f4f;
  transform: scale(1.2);
  transition: all 0.3s ease;
}

div.swiper-button-next:after {
  color: #f9a392;
}

div.swiper-button-next:hover::after {
  color: #f74f4f;
  transform: scale(1.2);
  transition: all 0.3s ease;
}
span.swiper-pagination-bullet-active {
  background-color: #f74f4f;
}
span.swiper-pagination-bullet:hover {
  background-color: #f74f4f;
}
